@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#e54c2a">

    <title>PIZZA - Restaurant and Drinks</title>

    <!-- NOTE: Paths updated to point to ~/assets/ inside wwwroot -->
    <!-- Bootstrap stylesheet -->
    <link href="~/assets/libs/bootstrap-4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- icofont -->
    <link href="~/assets/libs/icofont/css/icofont.css" rel="stylesheet" type="text/css" />
    <!-- crousel css -->
    <link href="~/assets/libs/owlcarousel2/assets/owl.carousel.min.css" rel="stylesheet" type="text/css" />
    <!-- mb.YTPlayer css -->
    <link href="~/assets/libs/mb.YTPlayer/css/jquery.mb.YTPlayer.min.css" rel="stylesheet" type="text/css" />
    <!-- Theme Stylesheet -->
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css" />
    <!-- Switch Color Style css -->
    <link href="~/assets/css/color/skin-default.css" data-style="styles" rel="stylesheet">
</head>
<body class="">
    <div class="wrapper">

        <!-- ========================================== -->
        <!-- NEW: GLOBAL SUCCESS NOTIFICATION           -->
        <!-- ========================================== -->
        @if (TempData["SuccessMessage"] != null)
        {
            <div id="order-notification" class="alert alert-success shadow">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <i class="icofont icofont-check-circled" style="font-size: 1.3em; vertical-align: middle; margin-right: 10px;"></i>
                <span style="vertical-align: middle;"><strong>Success!</strong> @TempData["SuccessMessage"]</span>
            </div>
        }

        <!-- Loader Start -->
        <div class="loader">
            <div class="loader-inner">
                <h4>Cooking in progress..</h4>
                <div id="cooking">
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div id="area">
                        <div id="sides">
                            <div id="pan"></div>
                            <div id="handle"></div>
                        </div>
                        <div id="pancake">
                            <div id="pastry"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Loader End -->
        <!--  Header Start  -->
        <header>
            <!--Top Header Start -->
            <div class="top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-12">
                            <ul class="list-inline float-left icon">
                                <!-- CHANGE 1: Hotline updated to 9999 -->
                                <li class="list-inline-item"><a href="#"><i class="icofont icofont-phone"></i> Hotline : 9999</a></li>
                            </ul>
                            <!-- Header Social Start -->
                            <ul class="list-inline float-right icon">

                                <!-- CHECK SESSION FOR LOGIN -->
                                @if (Context.Session.GetInt32("UserID") != null)
                                {
                                    <li class="list-inline-item dropdown">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="icofont icofont-ui-user"></i> My Account
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right drophover" aria-labelledby="dropdownMenuLink">
                                            <li class="dropdown-item"><a asp-controller="User" asp-action="Dashboard">Dashboard</a></li>
                                            <li class="dropdown-item"><a asp-controller="User" asp-action="Logout">Logout</a></li>
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li class="list-inline-item dropdown">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="icofont icofont-ui-user"></i> Guest
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right drophover" aria-labelledby="dropdownMenuLink">
                                            <li class="dropdown-item"><a asp-controller="User" asp-action="Login">Login</a></li>
                                            <li class="dropdown-item"><a asp-controller="User" asp-action="Register">Register</a></li>
                                        </ul>
                                    </li>
                                }

                                <li class="list-inline-item">
                                    <ul class="list-inline social">
                                        <li class="list-inline-item"><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="icofont icofont-social-instagram"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- Header Social End -->
                        </div>
                    </div>
                </div>
            </div>
            <!--Top Header End -->

            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-12">
                        <!-- Logo Start  -->
                        <div id="logo">
                            <a asp-controller="Home" asp-action="Index">
                                <img id="logo_img" class="img-fluid" src="~/assets/images/logo/logo.png" alt="logo" title="logo" />
                            </a>
                        </div>
                        <!-- Logo End  -->
                    </div>

                    <div class="col-md-7 col-sm-6 col-12 paddleft">
                        <!-- Main Menu Start  -->
                        <div id="menu">
                            <nav class="navbar navbar-expand-md">
                                <div class="navbar-header">
                                    <span class="menutext d-block d-md-none">Menu</span>
                                    <button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="btn btn-navbar navbar-toggler" type="button"><i class="icofont icofont-navigation-menu"></i></button>
                                </div>
                                <div class="collapse navbar-collapse navbar-ex1-collapse padd0">
                                    <ul class="nav navbar-nav">
                                        <li class="nav-item"><a asp-controller="Home" asp-action="Index">HOME</a></li>

                                        <!-- ADMIN SETTINGS MENU (Only visible to Admin ID 1) -->
                                        @if (Context.Session.GetInt32("UserTypeID") == 1)
                                        {
                                            <li class="nav-item dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings</a>
                                                <div class="dropdown-menu">
                                                    <div class="dropdown-inner">
                                                        <ul class="list-unstyled">
                                                            <li><a asp-controller="Setting" asp-action="List_UserTypes">User Types</a></li>
                                                            <li><a asp-controller="Setting" asp-action="List_Genders">Genders</a></li>
                                                            <li><a asp-controller="Setting" asp-action="List_UserStatus">User Status</a></li>
                                                            <li><a asp-controller="Setting" asp-action="List_VisibleStatus">Visible Status</a></li>
                                                            <li><a asp-controller="Setting" asp-action="List_UserAddress">Addresses</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        }

                                        <!-- Only show Login/Register if NOT logged in -->
                                        @if (Context.Session.GetInt32("UserID") == null)
                                        {
                                            <li class="nav-item"><a asp-controller="User" asp-action="Login">Login</a></li>
                                            <li class="nav-item"><a asp-controller="User" asp-action="Register">Register</a></li>
                                        }
                                        else
                                        {
                                            <li class="nav-item"><a asp-controller="Home" asp-action="Cart">CART</a></li>
                                            <li class="nav-item"><a asp-controller="User" asp-action="Dashboard">Dashboard</a></li>
                                            <li class="nav-item"><a asp-controller="User" asp-action="Logout">Logout</a></li>
                                        }

                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <!-- Main Menu End -->
                    </div>
                    <div class="col-md-2 col-sm-12 col-12 button-top paddleft">
                        <a class="btn-primary btn" href="#">Book Your Table</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header End   -->
        @RenderBody()

        <!-- Footer Start -->
        <footer>
            <div class="container">
                <div class="row inner">
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <!-- Footer Widget Start -->
                        <h5>Contact Us</h5>
                        <ul class="list-unstyled contact">
                            <li><i class="icofont icofont-social-google-map"></i> Office 08, first floor, Pizza Restaurant & Drinks</li>
                            <!-- CHANGE 2: Footer Phone updated to 9999 -->
                            <li><i class="icofont icofont-phone"></i> 9999</li>
                            <li><a href="#"><i class="icofont icofont-ui-message"></i>info@pizza.com</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <h5>Information</h5>
                        <ul class="list-unstyled">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                        </ul>
                    </div>
                    <div class="w-100 d-none d-xs-block"></div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <h5>Open Hours</h5>
                        <ul class="list-unstyled">
                            <!-- CHANGE 3: Hours updated -->
                            <li>Every day : 9 am to 3 am.</li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <h5>Instagram</h5>
                        <ul class="list-unstyled insta">
                            <!-- Update paths to use ~/assets/ -->
                            <li><a href="#"><img src="~/assets/images/instagram/1.jpg" alt="image" /></a></li>
                            <li><a href="#"><img src="~/assets/images/instagram/2.jpg" alt="image" /></a></li>
                            <li><a href="#"><img src="~/assets/images/instagram/3.jpg" alt="image" /></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row powered">
                        <div class="col-md-3 col-sm-6 order-md-1">
                            <img src="~/assets/images/logo/logo-white.png" class="img-fluid" title="logo" alt="logo">
                        </div>
                        <div class="col-md-6 col-sm-12 text-center order-md-2">
                            <!-- CHANGE 4: Year updated to 2025 -->
                            <p>Copyright © <span>PIZZA Restaurant & Drinks</span> 2025. All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer End  -->

    </div>

    <!-- Script Paths Updated -->
    <script src="~/assets/libs/jquery/jquery.min.js"></script>
    <script src="~/assets/libs/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/assets/libs/popper/popper.min.js"></script>
    <script src="~/assets/libs/bootstrap-4.5.0/js/bootstrap.min.js"></script>
    <script src="~/assets/libs/owlcarousel2/owl.carousel.min.js"></script>
    <script src="~/assets/libs/jquery.inview/jquery.inview.min.js"></script>
    <script src="~/assets/libs/jquery.countTo/jquery.countTo.js"></script>
    <script src="~/assets/libs/mb.YTPlayer/jquery.mb.YTPlayer.min.js"></script>
    <script src="~/assets/js/internal.js"></script>

    <!-- Render Section required for individual views to add scripts -->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>